# Ignore node_modules directory
node_modules

# Ignore development and debugging files
.DS_Store
.env
npm-debug.log

# Ignore version control system files
.git
.gitignore

# Ignore Docker-related files
.dockerignore
Dockerfile

# Ignore editor and IDE files
.vscode
.idea

# Ignore log files
logs
*.log

# Ignore temporary files
*.tmp
